html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mano stiliai */

body {
    min-width: 300px;
}

* {box-sizing: border-box;}

.page {
    width: 100%;
}

.page .side-bar,
.page .gallery {
    float: left;
}

/* sidebar style */
.page .side-bar {
    background-color: #1d1d30;
    width: 300px;
    height: 100vh;
    position: fixed;
}

.page .side-bar .bar-logo,
.page .side-bar .bar-menu,
.page .side-bar .bar-menu button,
.page .side-bar .bar-footer {
    width: 100%
}

.page .side-bar .bar-logo {
    height: 200px;
}
.page .side-bar .bar-logo img {
    width: 100%;
    height: 100%;
    opacity: 0.75;

    object-fit: cover;
    object-position: center center;
}

.page .side-bar .bar-menu {
    height: 300px;
}
.page .side-bar .bar-menu button {
    height: calc(100% / 5);
    background-color: #2b2b44;
    border: 1px solid #1d1d30;
    text-align: right;
    font-size: 25px;
    color: #b6b6b6;
}

.page .side-bar .bar-footer {
    height: 25px;
    margin: 30px auto;

}

.page .side-bar .bar-footer p {
    display: flex;
    justify-content: center;
    color: #b6b6b6;
}

/* gallery style */

.page .gallery {
    width: 100%;
    position: relative;
    margin-left: 300px;

}

.page .gallery .item {
    height: 200px;
    width: 25%;
    background-color: #222222;
    position: relative;
    float: left;
}



.page .gallery .item h3{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    z-index: 50;
    color: #ffffff;
    transition: 0.5s 0.25s ease-in-out;
}



.page .gallery .item img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center center;
    opacity: 1;

    transition: 0.5s 0.1s ease-in-out;
}

.page .gallery .item:hover img {
    opacity: 0.25;
}

.gallery .item .text-picture {
    opacity: 0;
    color: #7a7979;
    width: 70%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s 0.25s ease-in-out;
}

.page .gallery .item:hover .text-picture {
    opacity: 1;
}

.gallery .item .text-picture h4 {
    font-size: 20px;
    text-align: center;
}

.gallery .item .text-picture p {
    border-bottom: 1px solid #7a7979;
    font-size: 12px;
    width: 100px;
    display: flex;
    padding-bottom: 10px;
    margin: 10px auto;
}

.gallery .item .text-picture .fa-position {
    font-size: 40px;
    color: #7a7979;
    display: flex;
    justify-content: center;
}

/* .gallery style */


/* responsive */

@media screen and (min-width: 0px) {
    .page .side-bar {
        width: 100px;
    }

    .page .side-bar .bar-logo {
        height: calc(200px / 3);
    }

    .page .side-bar .bar-menu button {
        font-size: 15px;
    }

    .page .side-bar .bar-footer p {
        font-size: 10px;
    }
    
    .page .gallery {
        width: calc(100% - 100px);
        position: relative;
        margin-left: 100px;
    }

    .page .gallery .item {
        width: calc(100% / 1);
    }
}

@media screen and (min-width: 400px) {
    .page .gallery .item {
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 700px) {
    .page .side-bar {
        width: 200px;
    }
    
    .page .side-bar .bar-logo {
        height: calc(200px / 2);
    }
    
    .page .side-bar .bar-menu button {
        font-size: 20px;
    }

    .page .gallery {
        width: calc(100% - 200px);
        position: relative;
        margin-left: 200px;
    }

    .page .gallery .item {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1000px) {
    .page .gallery .item {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 1300px) {
    .page .side-bar {
        width: 300px;
    }
    
    .page .side-bar .bar-logo {
        height: calc(200px / 1);
    }
    
    .page .gallery {
        width: calc(100% - 300px);
        position: relative;
        margin-left: 300px;
    }

    .page .gallery .item {
        width: calc(100% / 5);
        height: 250px;
    }
}



/* .responsive */