body {
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #273544, #2f4251, #38505f, #415e6c, #4a6c79);
    position: fixed;
}

* {
    box-sizing: border-box;
    z-index: 2;
}

.container_custom {
    width: 100%;
    height: 100vh;
    position: relative;
}


/* top bar ---------------------------------------------------*/
.top_bar .top_logo,
.top_bar .top_logo img,
.top_bar .top_content {
    height: 100%;
}

.container_custom .top_bar {
    width: 100%;
    height: 75px;
    position: relative;
    display: block;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
}

.top_bar .top_logo {
    float: left;
}

.top_bar .top_logo img {
    object-position: center center;
    object-fit: cover;
    width: 250px;
    opacity: 0.75;
}

.top_bar .top_content {
    float: left;
    width: calc(100% - 250px);
    
}

.container_custom .top_bar_shrol {
    background-color: rgba(0, 0, 0, 0.8);
}

/* .top bar --------------------------------------------------*/
.container_custom .side_bar,
.container_custom .side_bar_show,
.container_custom .container_content,
.container_custom .smaller {
    transition: 0.5s ease-out;
}


/* side bar ---------------------------------------------------*/
.container_custom .side_bar {
    width: 250px;
    height: 500px;;
    background-color: rgba(0, 0, 0, 0.125);
    position: relative;

   
   top: 75px;
   left: -250px;
   
   position: fixed;
   
}

.container_custom .side_bar_show {
    
    /* visibility: visible; */
    /* opacity: 1; */
    left: 0;
    position: fixed;
}


/* .side bar --------------------------------------------------*/

/* container content ------------------------------------------*/

.container_custom .container_content {
    width: 100%;
    height: 99600px;
    position: absolute;
    display: flex;
    right: 0;
    top: 75px;
    padding: 30px;
}

.container_custom .smaller {
    width: calc(100% - 250px);
    box-sizing: border-box;
    
}

.container_custom .container_content p {
    font-size: 40px;
    color: #ffffff;
}

/* .container content -----------------------------------------*/