body {margin: 0;
    min-width: 700px;
}

* {
    box-sizing: border-box;
    
}

.row {
    width: 100%
}

.row-top {
    height: 50px;
    background-color: purple;
}

.row-menu {
    height: 125px;
}

.row-menu .menu-title,
.row-menu .menu-selector {
    display: inline-block;
    height: 100%;
}

.row-menu .menu-title{
    width: 15%;
    padding: 0 10px;
    float: left;
    display: flex;
    align-items: center;
}

.row-menu .menu-title p{
    font-size: 40px;
    display: flex;
    align-content: center;
}

.row-menu .menu-selector {
    width: 900px;
    position: relative;
    display: flex;
    margin: 0 0 0 auto;
}

.menu-selector ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;

}

.selector-list li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.row-image {
    height: 100%;
    
}

.row-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    
}

/* responsive */
@media screen and (min-width: 0px) {
    .row-top {
        height: 30px;
    }
    
    .row-menu {
        height: 75px;
    }
    
    .row-menu .menu-title p{
        font-size: 20px;
    }

    .row-menu .menu-selector {
        width: 550px;
    }
    
    .selector-list li{
        font-size: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .row-top {
        height: 50px;
    }
    
    .row-menu {
        height: 125px;
    }
    
    .row-menu .menu-title p{
        font-size: 30px;
    }

    .row-menu .menu-selector {
        width: 700px;
    }
    
    .selector-list li{
        font-size: 15px;
    }
}

@media screen and (min-width: 1400px) {
    .row-image img{
        width: 100%;
    }
}
/* .responsive */
