body {
    background-color: #DCDCDC;
}

h1{ 
    font-weight: normal;
}

h1, h3 {
    text-align: center;
}

.tabletop  {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border: 1px solid black;
    
}
.tablebottom  {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border: 1px solid black;
    border-top-style: hidden;
}

.border1{
    border: 1px solid black;
}

th, td {
    font-weight: normal;
    text-align: left;
    padding: 10px 0 10px 5px;
}

.table_id {
    width: 10%;
}

.table_name {
    width: 50%;
}

.table_link {
    width: 10%;
}
 .table_status {
    width: 30%;
    text-align: left;
 }

 span {
     margin-top: 20px;
 }
 #span1{
    position: absolute;
    left: 20%;
 }

 #span2{
    position: absolute;
    left: 60%;
 }