html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mano stiliai */

body{
	min-width: 920px;
	
}

* {box-sizing: border-box}

.bacground,
.page-container .container-forms .left-box {
	width: 100%;
	height: 100vh;
	background-image: url(../Images/Fall-Nature-Background-Pictures.jpg);
	background-position: center center;
	background-size: cover;
}	

.bacground .page-container {
	width: 100%;
	height: 100%;
	background-color: rgba(133, 54, 87, 0.9);
	z-index: 2;
	position: relative;
}

.bacground .page-container .container-forms {
	background-color: #222222;
	height: 70%;
	width: 900px;
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 500px;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.page-container .container-forms .left-box,
.page-container .container-forms .right-box {
	float: left;
	height: 100%;
	width: 50%;
}

/*  left box */
.container-forms .left-box .box-elements {
	width: 100%;
	height: 100%;
	background-color: rgba(154, 6, 240, 0.733)
}

.left-box .box-elements h1,
.left-box .box-elements p,
.left-box .box-elements h4,
.left-box .box-elements .elements-button {
	font-family: sans-serif;
	color: #ffffff;
	padding: 0 50px;
}


.left-box .box-elements h1 {
	width: 350px;
	font-size: 80px;
	font-weight: bold;
	padding-top: 22%;
}

.left-box .box-elements p {
	padding-top: 20px;
	font-size: 15px;
	
}

.left-box .box-elements h4 {
	padding-top: 40px;
	
}

.left-box .box-elements .elements-button {
	padding-top: 10px;
	
}

.left-box .box-elements .elements-button button {
	border-radius: 2rem;
	min-width: 100px;
}

/* .left box */

/* right box */
.container-forms .right-box .text,
.container-forms .right-box .form-size {
	padding: 0 50px;
}
/* text */
.page-container .container-forms .right-box {
	background-color: #ffffff;
}

.container-forms .right-box .text {
	padding-top: 22%;
}


.container-forms .right-box .text h1 {
	
	font-size: 40px;
	font-family: sans-serif;
}

.container-forms .right-box .text p {
	padding-top: 20px;
	color: #a3a3a3;
	font-size: 15px;
}
/* .text */

/* login form  */
.container-forms .right-box .form-size .form-group{
	padding-top: 10px;
}

.form-size .form-group .form-control {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #000000;
}

.input .form-size button {
	border-radius: 2rem;
	border: 0;
	min-width: 100px;
	background-color: #00ff0d;
	float: right;
	margin-top: 20px;
	
}
/* .login form */
/* .right box */

@media