body{
    margin: 50px 0 0 0;
    background-image: url(../dark-sky.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

* {
    box-sizing: border-box;
}
.container {
    width: 900px;
    margin: 0 auto;
}
/* raw form styles */

/* end of row forms style */

.row-form .form-container {
    width: 100%;
    padding: 20px 0;
}

.form-container .form-row {
    width: 100%;
    height: 40px;
    margin: 10px 0;

    background-color: white;
    display: flex;
}

.form-container .form-button {
    background-color: red;
}

.form-row .icon,
.form-row .form-input{
    display: inline-block;
    height: 100%;
}

.form-row .form-input {
    width: calc(100% - 40px);
}

.form-row .form-input input{
    display: block;
    width: 100%;
    height: 100%;
    
    padding: 0 15px;
    margin: 0;
}

.form-row .icon {
    width: 40px;

    border-right: 1px solid black;
}


/* row footer styles */
.row {
    widows: 100%;
    padding: 0 30px;
}

.row-footer {
    text-align: center;
    color: white;
}

.row-footer a {

}

