body {height: 2000px;}
html, body {margin: 0; padding: 0;}

#div1 {
    width: 100%;
    height: 100px;
    background-color: red;
}

#div2 {
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

#div3 {
    position : absolute;
    bottom: 0;
    right: 0;
    position: fixed; 
}

img {
    width: 100px;
}

.list {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0px;
}

li { 
    display: inline-block;
    margin: 0 10px 0 10px;
}
   
