/* p { 
    font-size: 30px;
    border: 10px solid black;
    padding: 10px;
    margin: 50px;

    padding: 20px 40px 80px 160px;

    padding: 100px 50px;
} */
body {
    height: 3000px;
}
* {
    box-sizing: border-box;
}

.main_box {
    background-color: blueviolet;
    color: white;

    width: 300px;
    /* height: 100px; */

    border: 10px solid yellow;

    padding: 20px;

    margin: 30px;

    /*  
    display reiksmes
    inline          : naudojamas su tekstais kad elementai eitu vienas po kito, neturi savybiu whith, height, neveike pading ir marging top and botom,

    block           : visos savybes veikia, prasideda is naujos eilutes, elementai po blok irgi isnaujos,jai nera nurodyta plocio tai bus per visa galima plota,

    inline-block    : visos savybes galimos eina vienas po kito

    flex            : naujasne technologija,
    */
    display: inline-block;
    position: relative;

}

.header {
    /* savybes position
    static: default

    fixed:  slenkantis kartu su srolu, su sia savybe galime naudot savybes top, botom, left, right, z-index;

    relative: beveik kaip static, taciau galime naudoti z-index, pasako kad kartu su juo bus naudojamas absolute;

    absolute:

    */

width: 100%;
height: 100px;
background-color: red;

position: fixed;

top: 0;
left: 0;
}

.box {
    width: 700px;
    height: 500px;

    background-color: green;

    position: relative;
}

.inner-box {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;

    top: 0;
    left: 0;
}