body{
    margin: 50px 0 0 0;
    background-image: url(../dark-sky.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

/* h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: 50px 0 50px 0;
}

#img {
    position: relative;
    margin: auto;
    width: 100px;
}
img {
    width: 100px;
}

.fa-user{
    color: black;
    font-size: 20px;
    margin: 10px;
}


#bottom_p {
    color: white;
}

#bottom_d
{
    margin: 180px auto 20px auto;
    width: 400px;
}

.login {
    background-color: darkgrey;
    width: 300px;
    height: 50px;
    margin: 20px auto 20px auto;
    opacity: 0.2;

}

#button {
    width: 300px;
    height: 50px;
    background-color: rgb(235, 114, 114);
    color: white;
    border: 0;

}

.buton_div {
    margin: 20px auto 20px auto;
    width: 300px;
    height: 50px;
}
.tagposition { 
    width: 40px;
    height: 40px;
    border-right: 1px solid white;
    margin: 5px 0 5px 0;
}

.textposition {
    position: absolute;
    left: 50px;
}
.textcolor {
    color: white;
    position: relative;
    left: 50px;
} */

.container {
    width: 900px;
    margin: 0 auto;
}

.row {
    width: 100%;
    padding: 0 30px;
}


/* Row form styles */

.row-form .form-container {
    width: 100%;
    padding: 20px 0;
}

.form-container .form-row {
    width: 100%;
    height: 40px;
    margin: 10px 0;

    background-color: #ffffff;

    display: flex;
}

.form-container .form-button {
    background-color: red;
}

.form-row .icon,
.form-row .form-input {
    display: inline-block;
    height: 100%;
}

.form-row .icon {
    width: 40px;

    border-right: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row .form-input {
    width: calc(100% - 40px);
}

.form-row .form-input input {
    display: block;
    width: 100%;
    height: 100%;
    
    padding: 0 15px;
    margin: 0;
    border: 0;
}


/* end of row form styles */


/* Row footer styles */
.row-footer {
    color: #ffffff;
    text-align: center;
}

.row-footer span {

}

.row-footer span a {

}
/* end of row footer styles */
