body{
    width: 100%;
    height: 100vh;

    min-width: 700px;
}

.background-page {
    position: fixed;

    width: 100%;
    height: 100%;
}

* {
    z-index: 2;
}

.container-custom {
    width: 100%;
    position: absolute;
    
}

.side-bar .button-bar-group .button-bar-name,
.side-bar .button-bar-group .button-alig,
.button-bar-group .button-alig .button,
.container-custom .side-bar .logo,
.container-custom .side-bar .logo img {
    width: 100%;
}

.container-custom .side-bar .logo img ,
.button-bar-group .button-alig .button {
    height: 100%;
}

.side-bar .button-bar-group .button-bar-name,
.side-bar .bar-footer,
.top-bar .nav .nav-item .nav-link .icon-position {
    color: #449fbb;
}
/* sidebar */

.container-custom .side-bar {
    
    width: 200px;
    float: left;
    /* border-right: 2px solid black; */
    background-color: rgba(221, 217, 217, 0.8);
    /* border-bottom: 2px solid black; */
}

.container-custom .side-bar .logo {
    height: 70px;
    background-color: #ff0000;
    border-bottom: 1px solid black;
    position: relative;
}

.container-custom .side-bar .logo img {
    object-fit: cover;
    object-position: center center;
}

.container-custom .side-bar .button-bar-group {
    margin: 10px 5px;
}



.side-bar .button-bar-group .button-bar-name {
    margin: 10px 0;
    height: 40px;
    background-color: #c2b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 1rem;
}

.side-bar .button-bar-group .button-alig {
    height: 30px;
    display: flex;
    margin: 1px;
}
  
.button-bar-group .button-alig .button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #2b3fee;
    background-color: #ffffff; 
    border: 1px solid black;
    border-radius: 0rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    display: flex;
    text-align: center;
    align-items: center;
}
  
.button-bar-group .button-alig .button:hover {
    box-shadow: 0px 8px 15px rgba(70, 69, 68, 0.767);
    
    transform: translateY(-4px);
}

.side-bar .bar-footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/* .sidebar */

/* top bar */
.container-custom .top-bar {
    background-image: linear-gradient(to right, #4c4947, #3a3836, #292827, #191918, #040403);
    height: 40px;
    width: calc(100% - 200px);
    margin-left: 200px;
    border-bottom: 1px solid black;
    opacity: 0.9;
    position: relative;
}

.top-bar .nav .nav-item .nav-link .icon-position {
    font-size: 24px;
}

.top-bar .nav .nav-item .nav-link:hover .icon-position {
    color: gray;
}

/* .top bar */

/* container wrap */
.container-custom .container-wrap {
    float: right;
    width: calc(100% - 220px);
    margin: 10px;
}

.container-custom .container-wrap .card {
    background-image: radial-gradient(circle, #dadada, #c3c3c3, #acacac, #969696, #808080);
    margin-top: 10px;
    min-width: 500px;
}
/* container-wrap */

