/* reset stilius reset.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mano stilius */
body {
    font-family: 'Raleway', sans-serif;
}
* {
    box-sizing: border-box;
    
}

.page {
    width: 100%;

    /* 
    spalvu rasymo budai 
    1 budas
    # - hex 16 kodas su 6 simboliais (skaitmenimis)
    { #000000; - juoda palva; 
        simboliu reiksmes 0-9 ir a - f

        #ff0000 - pirma raudona 
        #00ff00 - zale
        #0000ff - melina

     2 budas 

        RGB(RED, GREEN, BLUE) - kiekvieno reiksme 0 - 255

        RGBA(red, green, blue, 0 - 1) - 4 kanalas permatymui spalvos
    */
    background-color: rgba(255, 0, 0, 0.5)

}

.page .side-bar,
.page .gallery {
    float: left;
}

.page .side-bar {
    width: 300px;
    /* vh reiske priklauso nuo ekrano dydis */
    height: 100vh; 
    background-color: #ffffff;
}



/* Gallery */
.page .gallery {
    width: calc(100% - 300px);
}

.page .gallery .item {
    height: 200px;
    width: 25%;
    background-color: #222222;
    position: relative;
    float: left;
}

.page .gallery .item:hover img {
    opacity: 0.25;
}

.page .gallery .item:hover h3 {
    opacity: 1;
    top: 50%;
}

.page .gallery .item h3 {
   font-size: 60px;
   color: #ffffff;
   position: absolute;
   z-index: 10;
   top: 70%;
   left: 50%;

   transform: translate(-50%, -50%);
   
   opacity: 0;
   transition: 0.5s 0.25s ease-in-out;
}
.page .gallery .item img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
    opacity: 0.75;
    
    transition: 0.5s ease-in-out;
}


/* .gallery */

/* responsive disain */

@media screen and (max-width: 1000px) {
    .page .gallery .item {
        width: 33.33%;
    }

    
}

@media screen and (max-width: 700px) {
    .page .gallery {
        width: calc(100% - 100px);
    }
    
    .page .gallery .item {
        width: 50%;
    }

    .page .side-bar {
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .page .gallery .item {
        width: 100%;
    }
}