body{
    margin: 50px 0 0 0;
    background-image: url(../dark-sky.jpg);
    background-position: fixed;
    background-size: fixed;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: 50px 0 50px 0;
}

#img {
    position: relative;
    margin: auto;
    width: 100px;
}
img {
    width: 100px;
}

.fa-user{
    color: black;
    font-size: 20px;
    margin: 10px;
}


#bottom_p {
    color: white;
}

#bottom_d
{
    margin: 180px auto 20px auto;
    width: 400px;
}

.login {
    background-color: darkgrey;
    width: 300px;
    height: 50px;
    margin: 20px auto 20px auto;
    opacity: 0.2;

}

#button {
    width: 300px;
    height: 50px;
    background-color: rgb(235, 114, 114);
    color: white;
    border: 0;

}

.buton_div {
    margin: 20px auto 20px auto;
    width: 300px;
    height: 50px;
}
.tagposition { 
    width: 40px;
    height: 40px;
    border-right: 1px solid white;
    margin: 5px 0 5px 0;
}

.textposition {
    position: absolute;
    left: 50px;
}
.textcolor {
    color: white;
    position: relative;
    left: 50px;
}


