body {
    margin: auto;
    background-image: url(../bacground.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

* {box-sizing: border-box}

.container {
    width: 500px;
    height: 700px;
    margin: 5% auto;
    
}

.row {
    width: 100%;
    padding: 0 50px;
    background-color: white;
}



.row-forms .form-container{
    width: 100%;
    padding: 20px 0;
}

.form-container .form-row{
    margin: 30px 0;
    height: 100px;
    display: flex;
}

.form-container .row-line{
    border-bottom: 1px solid black;
}

.form-container .form-row p {
    position: absolute;
    font-size: 40px;
    margin: 26px 0;;
}

.form-row .icon,
.form-row .input {
    display: inline-block;
    height: 100%;
}

.form-row .icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}

.form-row .icon i {
     font-size: 50px;
     color: grey;        
}

.form-row button {
    background-color: red;
    border: 0;
    width: 100%;
    border-radius: 15px;
    font-size: 30px;
    color: white;
}

a { 
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10px;

}