body {
    margin: 0;
    background-image: url(../6aD6vQF.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: fixed;
    position: relative;
}

img {
    height: 200px;
    width: 150px;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: white;
}
h3 {
    text-align: center;
    color: white;
}

#div0{
    text-align: center;
}

#div1 {
    border: 1px solid white;
    display: inline-block;
    position: relative;
    margin: 10px
}

p {
    text-align: center;
    color: white;
}

#div3 {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(74, 205, 238);
    
}
#p {
    color:  rgb(74, 205, 238);
}

.p2 {
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;

}
.p3 {
    font-variant-caps: all-petite-caps;
    font-size: 15px;
    font-family: sans-serif;
}
